<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="antom-payment-request" xsi:type="string">Antom\Core\CustomerData\PaymentRequest</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Csp\Model\Collector\CspWhitelistXmlCollector">
        <plugin name="custom_csp_collector_plugin"
                type="Antom\Core\Plugin\CspWhitelistXmlCollectorPlugin" />
    </type>
</config>
